@model FRIO.MAR.APPLICATION.CORE.Models.ProductoModel

@{
    ViewBag.Title = "Productoes";
    ViewBag.pTitle = "Productoes";
    ViewBag.pageTitle = "Configuración";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Registrar" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <div class="row">
                 <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Codigo" class="control-label">Código <span class="text-danger">*</span></label>
                        <input asp-for="Codigo" class="form-control"  />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label">Descripción <span class="text-danger">*</span></label>
                        <input asp-for="Descripcion" class="form-control"  />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>

             <br />
             <div class="row">
                 <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="UnidadMedida" class="control-label">Código <span class="text-danger">*</span></label>
                        <select asp-for="UnidadMedida" class=" form-control select2" asp-items="ViewBag.unidadMeida" >
                            <option value="" selected disabled>--Seleccionar--</option>
                        </select>
                        <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IVA" class="control-label">Descripción <span class="text-danger">*</span></label>
                        <select asp-for="IVA" class=" form-control" >
                            <option value="" selected disabled>--Seleccionar--</option>
                            @foreach(var iva in ViewBag.IVA as List<FRIO.MAR.APPLICATION.CORE.Entities.Impuesto>){
                                <option value="@iva.TipoImpuesto.Codigo|@iva.Porcentaje">@iva.Nombre</option>
                            }
                        </select>
                        <span asp-validation-for="IVA" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="PrecioUnitarioStr" class="control-label">Precio Unitario <span class="text-danger">*</span></label>
                        <input asp-for="PrecioUnitarioStr" class="form-control decimal"  />
                        <span asp-validation-for="PrecioUnitarioStr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                @if (ViewBag.EsNuevo)
                {
                    <button class="btn btn-primary"  type="submit">Agregar</button>
                }
                else
                {
                    <button class="btn btn-primary"  type="submit">Editar</button>
                }
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select2").select2();
            $(".decimal").maskMoney();
        });
    </script>
    @Html.Raw(TempData["msg"])
}
