@model FRIO.MAR.APPLICATION.CORE.Models.FacturaModel

@if(Model.FormaPago != null)
{
    @foreach (var item in Model.FormaPago)
    {
        <tr class="text-center">
            <td class="text-center">
                <div>
                    <button  type="button"  class="btn btn-danger btn-eliminar-forma-pago" value="@item.Id" onclick="EliminarFormaPago($(this).val())" title="Eliminar Item">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
            
            <td>@item.FormaPagoDescripcion</td>
            <td>@item.Valor</td>
        </tr>
    }
}
