
@{
    ViewBag.Title = "Compras";
    ViewBag.pTitle = "Compras";
    ViewBag.pageTitle = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <!-- Responsive datatable examples -->
    @*<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@
}

<div class = "card">
    <div class = "card-body">
        <h5>Borrador</h5>
        <br />
        <a asp-action="Factura" asp-route-tipo="@FRIO.MAR.APPLICATION.CORE.Constants.EstadoFactura.Borrador"  class="btn btn-success">Nueva Factura</a>
        <div id="div-facturas-borrador" class = "">
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
*@
    <script>
        $(document).ready(function(){
            $.get("@Url.Action("ListarFacturasBorrador", "Compras")", function(response){
                if (!response.estado){
                    $("#div-facturas-borrador").empty();
                    $("#div-facturas-borrador").html(response);
                }else{
                    MensajeErrorSwal(response.mensaje);
                }
            }).fail(function(error) {
                MsgAjaxError(error);
            });
        });
    </script>
    @Html.Raw(TempData["msg"])
}