@model FRIO.MAR.APPLICATION.CORE.Models.FacturaModel

<div class="row">
    <div class="col-md-6">
        <h6 class="text-center">Adjuntos</h6>
        <table class="table">
            <thead >
                <tr class="text-center bg-dark" >
                    <th colspan="2">
                        <h5 style="color: #fff">Detalle</h5>
                    </th>
                </tr>
                <tr>
                    <th>Acción</th>
                    <th class="text-center">Documento</th>
                </tr>
            </thead>
            <tbody id="TblDetalleAdjunto">
                @if (Model.Adjunto != null && Model.Adjunto.Any())
                {
                    @foreach(var item in Model.Adjunto)
                    {
                        <tr>
                            <td class='text-center' style='width: 15px; padding: 2px 2px 2px 2px'>
                                <a title='Eliminar registro' class='btn btn-danger'  onclick='EliminarFilaTablaAdjunto("@item.Identificador")'>
                                    <i class='fas fa-trash-alt' style='color: white'></i>
                                </a>
                            </td>
                            <td class='text-left'>@item.Nombre</td>
                        </tr>
                    }
                }
                            
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="align-center text-center" style="width: 80%; height: 50%">
            
            <div class="dropzone" enctype="multipart/form-data">
                <div class="fallback">
                    <input name="files" type="file" multiple="multiple" value="">
                </div>
                <div class="dz-message needsclick">
                    <div class="">
                        <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                    </div>
                    <h4>Agregar archivos adjuntos para enviar al destinatario.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
