
<!-- Modal -->
<div class="modal fade" id="modal-agregar-producto" aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h6>
      </div>
      <div class="modal-body" id="div-modal-producto">
        
      </div>
    </div>
  </div>
</div>