@model FRIO.MAR.APPLICATION.CORE.Models.BodegaModel

@{
    ViewBag.Title = "Bodegas";
    ViewBag.pTitle = "Bodegas";
    ViewBag.pageTitle = "Configuración";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets/libs/select2/css/select2.min.css" />
}

<div class="card">
    <div class="card-body">
        <form asp-action="Registrar" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Codigo" class="control-label">Código <span class="text-danger">*</span></label>
                        <input asp-for="Codigo" class="form-control"  />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre <span class="text-danger">*</span></label>
                        <input asp-for="Nombre" class="form-control"  />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Sucursales">Sucursales <span class="text-danger">*</span></label>
                        <select asp-for="Sucursales" class=" form-control select2" asp-items="ViewBag.sucursales" multiple>
                        </select>
                        <span asp-validation-for="Sucursales" class="text-danger"></span>
                    </div>
                </div>
            </div>

             <br />

            <div class="row">

            </div>

            <br />

            <div class="form-group">
                @if (ViewBag.EsNuevo)
                {
                    <button class="btn btn-primary"  type="submit">Agregar</button>
                }
                else
                {
                    <button class="btn btn-primary"  type="submit">Editar</button>
                }
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select2").select2({
                placeholder: "--Seleccionar uno o más--"
            });
        });
    </script>
    @Html.Raw(TempData["msg"])
}
